.input {
    width: 400px;
    align-self: center;
  }
.container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.results {
    margin: 3%;
    align-self: center;
    width: 60%;
}

h2 {
    color: #303aa5;
}
